* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 700px;
    padding: 1rem;
    gap: 1rem;
    border-radius: 10px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.15);
    margin: 3rem auto 0 auto;
    box-sizing: border-box;
}

.blue-box {
    flex: 1;
    background-color: rgb(167, 167, 243);
    border-radius: 10px 10px 0 0;
    position: relative;
    padding: 2rem 1rem;
    contain: content;
}

.red-box {
    background-color: rgb(224, 132, 132);
    border-radius: 0 0 10px 10px;
    height: fit-content;
    padding: 3rem;
    display: flex;
    gap: 1rem;
}

.oval {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 1px 2px 8px rgba(20, 20, 20, 0.35);
}

.circle {
    position: absolute;
    height: 100%;
    width: 90%;
    top: -70%;
    left: 5%;
    right: 5%;
    bottom: 0;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 1px 2px 8px rgba(20, 20, 20, 0.35);
}

.brand {
    text-align: center;
    border: 1px solid rgb(172, 146, 146);
    margin-top: 7rem;
    margin-left: auto;
    margin-right: auto;
    padding: 4px 8px;
    color: rgb(28, 28, 102);
    width: fit-content;
    box-shadow: 1px 2px 8px rgba(20, 20, 20, 0.35);
}

.wheels {
    width: 200px;
    height: 150px;
    border-radius: 50%;
    background-color: #be9a9a;
    box-shadow: 1px 2px 16px rgba(20, 20, 20, 0.35);
}